@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.hero {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #004d99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.hero * {
    font-family: 'Press Start 2P', cursive;
    -webkit-filter: pixelate(0.5px); /* Chrome, Safari, Opera */
    filter: pixelate(0.5px); /* Standard syntax */
}

.progress-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.correct-container, .incorrect-container {
    top: 0;
}

.correct-bar, .incorrect-bar {
    height: 20px;
    transition: width 0.4s ease;
}

.correct-bar {
    background-color: #39FF14;
}

.incorrect-bar {
    background-color: red;
}

.progress-text {
    margin-left: 10px;
    color: white;
    font-size: 16px;
    white-space: nowrap;
}

.question-text {
    font-size: 2rem; /* Adjusted size for question text */
    color: white; /* Text color for readability */
    margin: 20px 0; /* Margin around the text for better spacing */
    text-align: center; /* Center alignment for the question text */
    margin: 0px; /* Margin around the text for better spacing */
}

.grade-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.grade-label {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.grade-input {
    width: 50px;
    height: 50px;
    padding: 5px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    color: black;
    background-color: white;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-bottom: 40px;
}

.grade-circle {
    padding: 20px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.grade-circle:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.option-button {
    display: inline-block;
    margin: 10px 5px;
    border-radius: 8px;
    width: auto;
    min-width: 80px;
    max-width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: red;
    color: white;
    border: none;
    font-size: 0.8rem;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.option-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .hero-mobile {
        padding: 30px 15px;
    }

    .progress-text-mobile, .option-button-mobile, .question-text-mobile, .grade-circle-mobile, .grade-label-mobile, .grade-input-mobile {
        font-size: 0.7rem;  /* Smaller font size for all mobile elements */
    }

    .grade-label-mobile {
        font-size: 1.2;
    }

    .grade-label-mobile {
        margin-bottom: 20px;  /* Reduced margin for grade label on mobile */
    }

   
    .grade-input-mobile, .grade-circle-mobile {
        width: 100%;  /* Full width for easier interaction */
        padding: 10px 0;  /* More padding for touch targets */
    }

    .grade-label-mobile, .grade-input-mobile {
        padding: 10px 0;  /* Increased padding for visibility and ease of use */
    }
}