/* Hero.css - Styles for the hero section */
.hero {
    position: relative;
    width: 100%;
    height: 500px; /* Flexible height to accommodate different content based on user interaction */
    background-color: #004d99; /* Deep blue background for visual appeal */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Vertical stacking of elements */
    padding: 50px 20px; /* Generous padding for visual comfort */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.hero-content {
    text-align: center; /* Center-align text for consistency */
    width: 100%; /* Use full width for content area */
    max-width: 1200px; /* Limit max width for better readability on large screens */
    padding: 20px; /* Padding around content for spacing */
}

/* Style for the button that starts the quiz */
.grade-circle {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.5rem; /* Larger font size for visibility */
    cursor: pointer;
    background-color: navy; /* Dark blue background for the button */
    color: white; /* White text for contrast */
    border: none;
    border-radius: 5px; /* Rounded corners for aesthetic appeal */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions for interactions */
}

.grade-circle:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.1); /* Slightly enlarge button on hover */
}

/* Styles for question text and option buttons */
/* Specific styles for the quiz component within the hero section */
.quiz-question, .option-button {
    font-family: 'Press Start 2P', monospace; /* Apply the pixelated font */
    font-size: 1rem; /* This font tends to render larger, so you might need to adjust the size */
    color: #FFFFFF; /* Ensuring the text color provides good contrast for readability */
}

.option-button {
    padding: 10px;
    margin: 5px 0;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.option-button:hover {
    background-color: #0056b3;
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .hero {
        padding: 30px 15px; /* Adjusted padding for smaller screens */
    }

    .grade-circle {
        font-size: 1.2rem; /* Smaller font size on mobile */
        padding: 8px 16px; /* Adjusted padding for smaller buttons */
    }

    .option-button {
        font-size: 1rem; /* Smaller font size for mobile */
        padding: 10px 15px; /* Adjusted padding for mobile friendly interaction */
    }
}
