/* AboutSection.css */
.about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.about-item {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-align: center;
}

.about-item img {
    width: 100%; /* Adjust width as necessary */
    height: auto;
    margin-bottom: 10px; /* Space between image and header */
}

.about-item ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.about-item li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.translation {
    display: block;
    font-size: 14px;
    color: #666;
}

.about-item h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.about-item:hover {
    transform: translateY(-5px);
    background-color: #e8f0fe;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .about-container {
        grid-template-columns: 1fr;
    }
}

/* Color styles */
.about-item:nth-child(1) { background-color: #ffadad; }
.about-item:nth-child(2) { background-color: #ffd6a5; }
.about-item:nth-child(3) { background-color: #fdffb6; }
.about-item:nth-child(4) { background-color: #caffbf; }
.about-item:nth-child(5) { background-color: #9bf6ff; }
.about-item:nth-child(6) { background-color: #a0c4ff; }
