/* Header.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.logo-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.site-logo {
    height: auto;
    width: 300px;
}

.header-address {
    color: white;
    font-size: 0.8rem;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-icons a {
    color: white;
    margin: 0 10px;
    font-size: 2rem;
}

.social-media-icons a:hover {
    color: #ddd;
}

.signup-button {
    padding: 10px 20px; /* Original padding */
    font-size: 1rem;     /* Original font size */
    background-color: red;  /* Eye-catching color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;  /* Space between the navbar and button */
    margin-right: 30px; /* Added space to the right to avoid sticking to the edge */
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.signup-button:hover {
    background-color: #45a049;  /* Darker green on hover */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo-address, .social-media-icons, .signup-button {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 5px 0;
    }

    .site-logo {
        width: 100%;
        max-width: 200px; /* Adjust logo size on smaller screens */
    }

    .signup-button {
        width: 90%; /* Full width button on smaller screens */
    }
}
