/* Header.css */




.header {
    width: 100%; /* This sets the header to take up the full width of its parent */
    max-width: 100vw; /* This can help if there's a horizontal scroll issue */
    box-sizing: border-box; /* Ensures that padding and border are included in the width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: black; /* Sets the header background to black */
}

.header-content {
    display: flex;
    justify-content: center; /* Centers the navigation links and logo */
    align-items: center;
    flex-grow: 1; /* Allows the header content to fill the space */
}

.site-logo {
    height: auto;
    width: 300px; /* Adjust width as necessary to fit your design */
}

.navbar {
    display: flex;
    justify-content: center; /* This will center the navbar items */
    align-items: center;
    flex-grow: 1; /* This will allow the navbar to grow and utilize available space */
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; /* Increased font size for visibility */
    padding: 15px; /* Increased padding for a larger clickable area */
    margin: 0 10px; /* Centers the links with equal margin on both sides */
}

.signup-button {
    padding: 10px 20px;  /* Original padding */
    font-size: 1rem;     /* Original font size */
    background-color: red;  /* Eye-catching green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;  /* Space between the navbar and button */
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.signup-button:hover {
    background-color: #45a049;  /* Darker green on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header {
        padding: 10px; /* Less padding on smaller screens */
    }

    .site-logo {
        width: 120px; /* Smaller logo on smaller screens */
    }

    .navbar a, .signup-button {
        font-size: 1rem; /* Smaller font size for smaller screens */
        padding: 8px 10px; /* Smaller padding on smaller screens */
    }

    .navbar {
        /* Adjust navbar styling for smaller screens */
        flex-direction: column;
        align-items: center;
    }

    .header-content {
        justify-content: space-around; /* Adjust content spacing for mobile */
    }

    .signup-button {
        font-size: 1rem;   /* Keep font size consistent on mobile */
        padding: 10px 20px;  /* Maintain original padding on smaller screens */
    }
}
