/* Header.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly; /* Ensures space is distributed evenly between items */
    align-items: center; /* Centers items vertically */
    padding: 10px 0; /* Removed horizontal padding to prevent overflow */
    background-color: black;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.site-logo {
    height: auto;
    width: 180px; /* Adjusted width for balance */
    flex: 1; /* Allows this item to grow and shrink as needed */
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Flex grow equally */
}

.social-media-icons a {
    color: white;
    margin: 0 10px; /* Consistent spacing between icons */
    font-size: 2rem;
}

.social-media-icons a:hover {
    color: #ddd; /* Feedback on hover */
}

.signup-button {
    padding: 20px 20px;
    font-size: 1rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    flex: 1; /* Flex grow equally */
    margin: 20px;
}

.signup-button:hover {
    background-color: #45a049; /* Color change on hover for visibility */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .site-logo, .social-media-icons {
        width: 100%; /* Full width for mobile */
        margin-top: 10px; /* Space between elements */
    }

    .signup-button {
        order: 3; /* Makes sure the sign-up button is at the bottom */
        margin-top: 20px; /* Adds a little space between elements */
        width: 90%; /* Slightly less than full width for padding */
        align-self: center; /* Centers button in mobile view */
    }
}
